* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url('https://images.unsplash.com/photo-1504963540949-6c4b7f41810b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1867&q=80');
  /* background-size: 100% 120%; */
  background-repeat: no-repeat;
  background-position: 100%;
  align-items: center;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;  /* Chrome, safari , Opera*/
}


header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 30px;
  align-items: center;
  width: 100vw;
}
.logo h1 {
  font-family: "Kaushan script", serif;
  margin: 0 30px;
  color: rgb(27, 27, 27);
}
.nav-bar {
  width: 50vw;
  align-items: center;
  margin: 0 30px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  font-family: "Kaushan script", serif;
  font-size: 1.3rem;
}

.nav-link {
  display: flex;
  margin: 15px;
  height: 48px;
  align-items: center;
}
.nav-link a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}

.main {
  /* background: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 90%;
  height: 75%;
  margin-top: 5px;
  z-index: 10;
  padding: 10px;
}

.tirage {
  /* background-color: red; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carte {
  position: relative;
  height: 600px;
  width: 350px;
  margin: 20px;
 color: rgb(231, 231, 231);
 perspective: 900px;
}

.carte:hover::before{
  position: absolute;
  left: 50%;
  top:-20px;
  transform: translate(-50% ,-50%);
  color: black;
  text-align: center;
 content: 'cliquez sur la carte pour la retournée';
}

.carte__int {
  /* background-color: chartreuse; */
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  
}

.carte__int.retournée{
  transform: rotateY(180deg);
}

.carte__face{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 16px;
  border: 2px rgb(231, 231, 231) solid ;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.5);
  font-family: "Lora", serif;
}
.carte__face.avant{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.carte__face.rune{
  background-image:url("https://images.unsplash.com/photo-1517411032315-54ef2cb783bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80");
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
}


.nom-rune {
  /* background: lightcoral; */
  margin: 25px;
  width: 100px;
  height: 50px;
  text-align: center;
}
.image-rune {
  margin: 10px;
  filter: invert();
}
.description-rune {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 15px; */
  margin: 5px 0 0 0;
  height: 210px;
  width: 95%;
  text-align: center;
  line-height: 1.5;
  overflow: auto;
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.3) 0%, rgba(15,15,15,0) 100%);
  border-radius: 20px;
}

.inversé {
  transform: rotate(180deg);
}

#btn {
  width: 150px;
  height: 50px;
  background: rgb(12, 12, 12);
  border: none;
  color: rgb(235, 235, 235);
  border-radius: 50px;
  cursor: pointer;
}

#btn:active {
  background-color:rgb(12, 12, 12);
  box-shadow: 0px 0px 6px rgb(63, 55, 78);
  transform: translateY(1px);
}